*{
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  /* width: 1200px; */
  width: 95%;
  max-height: 100vh;
  margin: 0 auto;
  background-color:#D9CFCC;
}

main{
  min-height: 100vh;
}

a {
  text-decoration: none;
}