@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

body{
  background-color:#D9CFCC;
}

header{
  background-color: #A69992;
}

h1{
  font-size: 30px;
  font-family: 'Concert One';
}
h2 {
  font-size: 22px;
  background-color: #5e4840;
  color: #D9CFCC;
}

input[type="radio"]{
  border-radius: 50%;
  border-style: solid;
  border-width: 0.2rem;
  border-color: gray;
}


footer{
  background-color: #5e4840;
}
footer p{
  text-align: center;
  color: #D9CFCC;
}

h3 {
  font-size: 18px;
  font-family: 'Yeseva One';
  text-align: center;
}

h4 {
  font-family: cursive;
  text-align: center;
}

.book-info p{
  text-align: center;
}

.book-info{
border: 5px double rgba(104,89,69,0.67);
border-radius: 13px;
}

#details{
 background-color: #5e4840;
 border: 1px solid #5e4840;
 border-radius: 12px;
 color: #D9CFCC;
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#details:hover{
  background-color: #313131;
  font-size: 18px;
}



#save-book, #update-button{
  background-color: #5e4840;
  border: 1px solid #5e4840;
  border-radius: 12px;
  color: #D9CFCC;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover{
  color: rgb(139, 8, 8);
}

#next-book, .back-to-home-page{
  border-bottom: 2px solid rgba(49, 49, 49, 0.44);
  border-top: 2px solid rgba(49, 49, 49, 0.44);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 15px 0;
}


#update-form{
  text-align: center;
}

#update-fieldset{
  text-align: center;
  font-size: 23px;
  font-weight: bold;
  color:#313131;
}

legend{
  color: #5e4840;
  font-size: 25px;
  border-bottom: 2px solid rgba(49, 49, 49, 0.44);
  border-top: 2px solid rgba(49, 49, 49, 0.44);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

label{
  color: #313131;
}
.update-input {
  background-color: #f3f0f0;
  border: 3px solid  #5e4840;
  font-size: 13px;
}

#input-textarea{
  background-color: #f3f0f0;
  border: 3px solid  #5e4840;
  font-size: 13px;
}

#button-set button, #submit-new{
  font-size: 17px;
  border: 3px solid  #5e4840;
  border-radius: 13px;
  color: #313131;
  background-color: #f3f0f0;
  font-weight: bold;
}

#button-set button:hover{
  background-color: #5e4840;
  color: #f3f0f0;
  border: 3px solid  #D9CFCC;
}
#submit-new:hover{
  background-color: #5e4840;
  color: #D9CFCC;
  border: 3px solid  #f3f0f0;

}

